* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background: #2D3142;
    color: #FFFFFF;
}

*:focus {
    outline: none;
}

/*
Setup menu
*/
#setup-menu {
    display: flex;
    height: 100vh;
}

#setup-menu .menu-choice{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #BDBDBD;
}

#setup-menu > div:hover {
    background: #CBCBEA;
    cursor: pointer;
}

#setup-menu .menu-choice-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#setup-menu .material-icons {
    font-size: 10em;
}

/*
Setup stuff
*/
#setup-qr #qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

#setup-qr #qrcode img {
    border: 50px solid #FFFFFF;
}

#setup-camera {
    width: 100vw;
    min-height: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#setup-camera #v {
    width: 100%;
    height: 100%;
}

#setup-camera #refresh-camera-button {
    cursor: pointer;
    background: #07A0C3;
    border: 1px solid #F0C808;
    border-radius: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#setup-camera {
    width: 100vw;
    min-height: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#setup-camera #v {
    width: 100%;
    height: 100%;
}

#setup-camera #refresh-camera-button {
    cursor: pointer;
    background: #07A0C3;
    border: 1px solid #F0C808;
    border-radius: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/**
Main page
**/

#normal {
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: row;
    background: #F0C808;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.43);
}

#menu > div {
    padding: 8px;
}

#menu > div:hover {
    color: #2D3142;
}

#settings-button {
    cursor: pointer;
    display: flex;
}

#settings {
    padding: 20px;
}

#settings button {
    padding: 15px;
    border-radius: 50px;
    background: #07A0C3;
    color: #FFFFFF;
}

#qr-button {
    cursor: pointer;
    display: flex;
}

.pasteArea {
    background: #07A0C3;
    resize: none;
    width: 60vw;
    height: 150px;
    padding: 5px;
    box-shadow: 0px 5px 31px 1px rgba(0,0,0,0.43);
    margin: 25px 0;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height:150px;
    text-align: center;
    color: #FFFFFF;
}
::-webkit-input-placeholder { /* Webkit */
    line-height:150px;
    text-align: center;
    color: #FFFFFF;
}
:-ms-input-placeholder { /* IE */
    line-height:150px;
    text-align: center;
    color: #FFFFFF;
}

.clipboard {
    color: #F0C808;
}

#copyList {
    max-height: 100%;
    width: 100%;
    text-align: center;
}

#copyList li {
    height: 30px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    line-height: 30px;
    overflow: hidden;
}

#copyList li:nth-child(1n) {
    background: #2978A0;
}

#copyList li:nth-child(2n) {
    background: #086788;
}

#copyList li:active {
    background: #F0C808;
}

@media (min-width: 1000px) {
    #setup-camera #v {
        width: 50%;
        height: 50%;
    }

    #copyList {
        max-width: 500px;
        margin: 0 auto;
    }

    #copyList li:hover {
        background: #F0C808;
    }
}

#notification {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 0;
}

.hidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}